# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=app_db
DB_HOST=db
DB_PORT=5432

# API Configuration
JWT_SECRET=super_secret_key_change_me
PORT=4000

# AstroJS Configuration
PUBLIC_API_BASE_URL=http://localhost:4000/api
PUBLIC_HUB_URL=http://localhost:4000/hubs/stock
PUBLIC_ALERTS_HUB_URL=http://localhost:4000/hubs/alerts
INTERNAL_API_BASE_URL=http://api:4000/api/v1
ASTRO_PORT=4321